* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.toggle-sec {
    padding: 100px 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 45px;
    line-height: 1;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-transform: capitalize;
    text-align: center;
}

img {
    display: block;
    width: 50%;
    margin: 0 auto 30px;
}

.like-blk {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #9aa5b1;
    font-size: 17px;
    line-height: 1;
    letter-spacing: 0px;
    text-transform: capitalize;
    text-align: center;
    background-color: #cbd2d9;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.like-icon {
    color: #cbd2d9;
    font-size: 40px;
}